.auth-page {
    height: 100%;
    // width: 100%;

    ._col {
        height: 100%;

        .card {
            width: 100%;

            .card-header p {
                font-weight: bold;
                letter-spacing: 0.25rem;
                font-size: 1.2rem;
            }
        }
    }
}