html {
    box-sizing: border-box;
}
    *, *:before, *:after {
    box-sizing: inherit;
}

/* Segoe UI Font-face Kit */
// @font-face {
//     font-family: 'Segoe UI Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Segoe UI Regular'), url('fonts/segoe-ui.woff') format('woff');
//     }
    
    
//     @font-face {
//     font-family: 'Segoe UI Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Segoe UI Italic'), url('fonts/segoe-ui-italic.woff') format('woff');
//     }
    
    
//     @font-face {
//     font-family: 'Segoe UI Bold';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Segoe UI Bold'), url('fonts/segoe-ui-bold.woff') format('woff');
//     }
    
    
//     @font-face {
//     font-family: 'Segoe UI Bold Italic';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Segoe UI Bold Italic'), url('fonts/segoe-ui-bold-italic.woff') format('woff');
//     }

// General imports
@import "./variables";
@import "./mixins";

// Pages
@import "./pages/auth";

// Components
@import "./components/spinner";
@import "./components/elipsis";
@import "./components/mainNavigation";

// Segoe UI font-face
@include font-face('Segoe UI Regular', fonts/segoe-ui, 400, normal, woff);
@include font-face('Segoe UI Italic', fonts/segoe-ui-italic, 400, normal, woff);
@include font-face('Segoe UI Bold', fonts/segoe-ui-bold, 400, normal, woff);
@include font-face('Segoe UI Bold Italic', fonts/segoe-ui-bold-italic, 400, normal, woff);


// General Styles
body {
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI Regular', sans-serif;
    
    #root {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        strong {
            font-weight: 700;
            letter-spacing: 0.1rem;
        }

        // header {
            // height: 8%;
        // }

        main {
            height: 90%;
        }

        // footer {
        //     // height: 2%;
        //     p {
        //         font-size: 11px;
        //         color: $gray;
        //     }
        // }
    }
}